<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <style>
    body{
      background-image: url('../../static/img/662992.jpg'); 
      background-repeat: no-repeat;
      min-height:100vh;
    }
    .navi{
      text-transform:uppercase;
      {% comment %} background-color:#264d00 ; {% endcomment %}
    }
    .nl{
      color:#336600;
    }
    .bn{
      text-transform:uppercase;
    }
    .navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #7eb444;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.btn{
  font-family: 'Ubuntu', sans-serif;
}
.mt{
      font-family: 'Cinzel', serif;
    }
    .input-container {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        margin-top:20px;
      }
      
      /* Style the form icons */
      .icon {
        margin-top:0px;
        padding: 15px;
        background: dodgerblue;
        color: white;
        min-width: 50px;
        text-align: center;
      }

      /* Style the input fields */
      .input-field {
        width: 100%;
        padding: 10px;
        outline: none;
      }
    .md{
      background-image: url('../static/img/loginbg5.jpg'); 
      background-repeat: no-repeat;
      background-size:500px 540px;
      
    }
    .mb{
      font-family: 'Ubuntu', sans-serif;
    }
        .modal-title {
            margin-left: 180px;
        }
        
        .lgimg {
            height: 60px;
            width: 60px;
            margin-left: 200px;
        }
        .or{
          margin-left: 220px;
        }
        .gl{
          height:45px;
          margin-top:20px;
          width:400px;
          background-color:#ff471a;
          border-radius:10px;
        }
        .gl2{
          color:white;
          margin-left:95px;
        }
        
        .lb{
          width:200px;
          margin-right: 130px;
          border-radius:10px;
          {% comment %} background: dodgerblue; {% endcomment %}
          background-color:#005c99;
        }
    {% block shblock %}{% endblock shblock %}
    {% block dhblock %}{% endblock dhblock %}
    {% block udhblock %}{% endblock udhblock %}
    {% block phblock %}{% endblock phblock %}
    {% block uphblock %}{% endblock uphblock %}
    {% block ahblock %}{% endblock ahblock %}
    {% block uahblock %}{% endblock uahblock %}
    </style>



    <title>Hello, world!</title>
  </head>
  <body>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message : </strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        <nav class="navbar navbar-expand-lg navbar  navi">
  <div class="container-fluid py-2">
    <a class="navbar-brand nl" href="/home"><h4><strong>Home</strong></h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="line"></span> 
        <span class="line"></span> 
        <span class="line" style="margin-bottom: 0;"></span>
</button>
    {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item px-2">
          <a class="nav-link {% block dblock %}{% endblock dblock %} nl" href="/doctors"><h4><strong>Doctors</strong></h4></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link {% block pblock %}{% endblock pblock %} nl" href="/patient"><h4><strong>Patient</strong></h4></a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link {% block ablock %}{% endblock ablock %} nl" href="/appointment"><h4><strong>Appointment</strong></h4></a>
        </li>
        
        
      </ul>
      <form class="d-flex text-danger">
        <!-- Button trigger modal -->
        {% if user.is_authenticated %}
          {% comment %} Welcome {{request.user}} {% endcomment %}
          <div class="dropdown">
            <button class="btn btn-success dropdown-toggle bn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome {{request.user}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item text-dark" href="/logout">Logout</a></li>
            </ul>
          </div>
        {% else %}
            <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <h5>Sign In</h5>
            </button>
            <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            <h5>LOGIN</h5>
            </button>
        {% endif %}
      </form>
    </div>
  </div>
</nav>

<!-- Modal -->
            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content md">
                <div class="modal-header">
                    <h3 class="modal-title mt" id="exampleModalLabel1">Sign In</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb">
                <img class="lgimg" src="../static/img/lock1.jpg" alt="">
                   <form action='/signup/' method='post'>
                   {% csrf_token %}
                   <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" placeholder="Name" required>
                    </div>
                    <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Email" required>
                    </div>
                    <div class="input-container">
                      <i class="fa fa-key icon"></i>
                      <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                    </div>
                    <div class="input-container">
                      <i class="fa fa-key icon"></i>
                      <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="modal-footer">
                    <center><button type="submit" class="btn btn-primary lb">Submit</button></center>
                    </div>
                    {% comment %} <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                     
                     <div class="mb-3">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                    </div> {% endcomment %}
                    {% comment %} <center><button type="submit" class="btn btn-primary">Submit</button></center> {% endcomment %}
                    </form>
                </div>
                
                </div>
            </div>
            </div>


            {% comment %} <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Sign In Here</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form action='/signup/' method='post'>
                   {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                     
                     <div class="mb-3">
                        <label for="cpassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="cpassword" name="cpassword" required>
                    </div>
                    <center><button type="submit" class="btn btn-primary">Submit</button></center>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
                </div>
            </div>
            </div> {% endcomment %}










            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content md">
                <div class="modal-header">
                    <h3 class="modal-title mt" id="exampleModalLabel2">Login</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body mb">
                <img class="lgimg" src="../static/img/lock1.jpg" alt="">
                   <form action='/login/' method='post'>
                   {% csrf_token %}
                    <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Username" required>
                    </div>
                    {% comment %} <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
                        
                    </div> {% endcomment %}
                    <div class="input-container">
                      <i class="fa fa-key icon"></i>
                      <input type="password" class="form-control" id="lpassword" name="lpassword" placeholder="password" required>
                    </div>
                    {% comment %} <div class="mb-3">
                        <label for="lpassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="lpassword" name="lpassword" required>
                    </div> {% endcomment %}
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary lb">Submit</button>
                    </div>
                      
                     
                    {% comment %} <center><button type="submit" class="btn btn-primary">Submit</button></center> {% endcomment %}
                    </form>
                </div>
        
                </div>
            </div>
            </div>
            {% comment %} <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Login Here</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <form action='/login/' method='post'>
                   {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
                        
                    </div>
                    
                    <div class="mb-3">
                        <label for="lpassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="lpassword" name="lpassword" required>
                    </div>
                     
                     
                    <center><button type="submit" class="btn btn-primary">Submit</button></center>
                    </form>
                </div>
                <div class="modal-footer">
                    
                </div>
                </div>
            </div>
            </div> {% endcomment %}

            {% comment %} {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message : </strong> {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %} {% endcomment %}


            {% block body %}{% endblock body %}

            {% comment %} <a href="#" class="btn btn-info" role="button" data-bs-toggle="button">Medical History Form</a> {% endcomment %}
    {% comment %} <h1>Hello, world!</h1> {% endcomment %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>