<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
    body{
      background-image: url('../../static/img/662992.jpg'); 
      background-repeat: no-repeat;
      background-size: cover;
      min-height:100vh;
    }
    .limg{
        margin-left:330px;
    }
    .simg{
        height:200px;
        width:300px;
    }
    .c3{
        margin-top:50px;
    }
    .ct{
        font-family: 'Cinzel', serif;
        margin-top:30px;
    }
    .ct2{
        font-family: 'Ubuntu', sans-serif;
    }
    .accordion-button{
        background-color:#d9d9d9;
    }
    .accordion-body{
        background-color:#f2f2f2;
    }
    .accordion-header{
      border-style:groove;
      
    }
    .bt2{
            width:200px;
            border-radius:20px;
            margin-top:30px;
            margin-left:140px;
            background-color:#e68a00;
        }
        .bt2:hover{
            background-color:#663d00;
        }
    </style>
    <title>Hello, world!</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col">
        <img class="limg" src="../static/img/lg3.jpg" alt="loading...">
        </div>
        <div class="col">
        <a class="btn btn-primary bt2" href="/phome" role="button">Go Back</a>
        </div>
    </div>
    <div class="container ct">
        <center>
            <h1><strong>Available services</strong></h1>
        </center>
    </div>
    <div class="container ct2">
        <div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item my-5">
    <h2 class="accordion-header " id="panelsStayOpen-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Phisiotherapy
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><img class="simg" src="../static/img/ps1.jpg" alt="loading..."></div>
                <div class="col-sm-4"><img class="simg" src="../static/img/ps2.jpg" alt="loading..."></div>
                <div class="col-sm-4 text-center c3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repellendus natus nesciunt aspernatur ratione dolorem numquam! Illo iure quasi, reiciendis cum voluptatibus animi qui error, eligendi voluptas non, harum tempore.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item my-5">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Pharmacy
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><img class="simg" src="../static/img/ph1.jpg" alt="loading..."></div>
                <div class="col-sm-4"><img class="simg" src="../static/img/ph2.jpg" alt="loading..."></div>
                <div class="col-sm-4 text-center c3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repellendus natus nesciunt aspernatur ratione dolorem numquam! Illo iure quasi, reiciendis cum voluptatibus animi qui error, eligendi voluptas non, harum tempore.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item my-5">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Ambulance
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><img class="simg" src="../static/img/am1.jpg" alt="loading..."></div>
                <div class="col-sm-4"><img class="simg" src="../static/img/am2.jpg" alt="loading..."></div>
                <div class="col-sm-4 text-center c3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repellendus natus nesciunt aspernatur ratione dolorem numquam! Illo iure quasi, reiciendis cum voluptatibus animi qui error, eligendi voluptas non, harum tempore.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item my-5">
    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
        Dental Facility
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
      <div class="accordion-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><img class="simg" src="../static/img/d1.jpg" alt="loading..."></div>
                <div class="col-sm-4"><img class="simg" src="../static/img/dc2.jpg" alt="loading..."></div>
                <div class="col-sm-4 text-center c3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repellendus natus nesciunt aspernatur ratione dolorem numquam! Illo iure quasi, reiciendis cum voluptatibus animi qui error, eligendi voluptas non, harum tempore.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item my-5">
    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
        Emergency Care
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
      <div class="accordion-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><img class="simg" src="../static/img/ec1.jpg" alt="loading..."></div>
                <div class="col-sm-4"><img class="simg" src="../static/img/ec2.jpg" alt="loading..."></div>
                <div class="col-sm-4 text-center c3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque repellendus natus nesciunt aspernatur ratione dolorem numquam! Illo iure quasi, reiciendis cum voluptatibus animi qui error, eligendi voluptas non, harum tempore.</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>