{% extends 'base.html' %}
{% block udhblock %}
.bn3{
    background-color:#cc7a00;
}
h1{
    font-family: 'Cinzel', serif;
  }
  .bn4{
      background-color:#006600;
  }
form{
  font-family: 'Ubuntu', sans-serif;
}
{% endblock udhblock %}
{% block body %}
            
<center><h1><strong>Update Doctor : ID-{{id}}</strong></h1></center>
<br>
<br>
<div class="container">
<div class="row">
<div class="col-sm-6 offset-3">
<form action="" method='post'>
{% csrf_token %}
{{form.as_p}}
<center><input type="submit" class="btn btn-success bn4" value="Update"></center>
<br>
<center><a class="btn btn-primary bn3" href="/doctors" role="button">Go Back</a></center>
</form>
</div>
</div>
</div>
{% endblock body %}